.App {
  text-align: center;

  min-height: 100vh;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Title {
  margin-top: 1%;
  padding-bottom: 1%;
  font-family: 'Comfortaa', cursive;
  font-size: 34px;
  color: green;
  /*flex: 1;*/

}
.graph-title {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}
.login {
  align-self: center;
  position: absolute;
  /*left: 50%;*/
  /*right: 50%;*/
}
.logout {
  position: absolute;

}
body {
    overflow:hidden;
}
.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px solid red;*/

}

.close {
  /*border: 2px solid red;*/
  align-self: center;
  /*margin-left: 20%;*/
  position: absolute;
  left: 40%;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.button-div {
position: absolute;
left: 46.5%;
top: 50%

}
.chat-container {
  min-height: 5%;
  padding-bottom: 10px;
  max-height: 10%;
  display: flex;
  flex-direction: column;

}
